@media screen and ( max-width: 1200px  )
  .menu__logo
    width: 6rem
    margin-right: 2rem
  .logo__company
    display: none
@media screen and ( max-width: 700px  )
  .logo
    display: none
  .nav
    flex-wrap: wrap
    &__item
      flex-basis: 50%  
      margin-bottom: 1.5rem
      font-size: 2rem
@media screen and ( max-width: 615px  )   
  .menu
    padding-top: 4rem
  .nav
    flex-direction: column 
    &__item
      font-size: 2.5rem
@media screen and ( max-width: 400px  )   
  .nav
    &__item
      font-size: 2rem      

  