@media screen and ( max-width: 1450px  )
  .col-2
    left: 0
  .swiper-pagination
    &-total
      right: 30rem
@media screen and ( max-width: 1350px  )
  .auto-approach
    padding-left: 3rem
  .col-3_1
    margin-bottom: 8.5rem  
  .col-3_1--big
    width: 57%
  .swiper-container1
    width: 71%
  .pag-2
    display: none          
@media screen and ( max-width: 1250px  )
  .col-4
    flex-basis: 21%
  .person
    &__text
      font-size: 1.4rem  
@media screen and ( max-width: 1200px  )
  .menu__logo
    width: 6rem
    margin-right: 2rem
  .logo__company
    display: none
  .swiper-slide
    &__description
      font-size: 1.4rem  
  .swiper-pagination
    &-total
      right: 25rem  
    &-current
      left: 25rem  
  .video
    &__main-video
      background: $primary url(../img/mainVideo.jpg) no-repeat center / cover
      &::before
        position: absolute
        top: 0
        left: 0
        content: ''
        width: 100%
        height: 100%
        conent: ''
        background-color: rgba(255, 106, 0, 0.8)
  .main-video
    &__bigplay
      display: none
  .about-video
    &__text
      font-size: 2rem  

@media screen and ( max-width: 1090px  )
  .col-4
    flex-basis: 24%
  .person
    &__text
      font-size: 1.4rem     
  .col-3
    flex-basis: 32%  
  .swiper-slide
    &__description
      font-size: 1.2rem      
    &__annotation
      font-size: 1rem  
  .swiper-pagination
    &-total
      right: 22rem  
    &-current
      left: 22rem   
@media screen and ( max-width: 992px  )   
  .intro
    &__title
      margin-bottom: 5.8rem
  .video
    &__main-video
      margin-top: -24.8rem  
      margin-bottom: 4rem
  .tours
    background: linear-gradient(to bottom, transparent 20%, #f7f4f2 20%)
    padding-bottom: 3.4rem
    &__row
      flex-direction: column    
      justify-content: center
      align-items: center
      text-align: center
  .about-video
    &__text
      margin-bottom: 2.5rem
    &__link
      display: inline-block
      margin-bottom: 3rem      
  .slide-video
    width: 100%    
  .row
    flex-wrap: wrap
  .col-4
    flex-basis: 98%
  .clients
    padding-top: 3.6rem
    padding-bottom: 3.4rem
    &__title
      margin-bottom: 4.6rem
    &__person
      margin-bottom: 3rem  
      padding-bottom: 1.5rem
      border-bottom: $secondary solid 1px
  .about-auto
    padding-top: 4.8rem
    padding-bottom: 3.4rem
    &-text
      &__title
        margin-bottom: 1.5rem
  .col-2
    &--big
      margin-bottom: 3rem   
  .swiper-slide    
    &__annotation
      color: #000       
  .swiper-pagination
    display: none  
  .auto
    display: flex
    justify-content: center
    text-align: center
    padding-top: 5.5rem
    height: 100%
    background: #222222
    &::before
      display: none   
  .auto-approach
    display: none
  .auto-engine
    padding-top: 0
    &__characteristic
      margin-bottom: 3rem      
  .engine-document
    &__text
      max-width: 100%    
  .auto-equipment
    padding-top: 5rem  
    &__list
      margin-bottom: 3.5rem
  .auto-equipment-text
    &__descriprtion
      max-width: 100%  
  .auto-year
    &__date
      right: -6.9rem    
  .col-3
    flex-basis: 100%   
  .col-2
    width: 100% 
  .col-3_1
    margin-bottom: 0
    &--big
      display: none  
  .footer
    &__row
      margin-bottom: 5rem
      &--2
        align-items: center
    &__social
      margin-top: 0
    &__rights
      margin-top: 0              
@media screen and ( max-width: 767px  )
  body.lock
    overflow: hidden
  .menu
    position: fixed
    width: 100%
    padding-top: 18rem
    padding-bottom: 1rem
    padding-right: 3rem
    padding-left: 3rem
    z-index: 999
    &::before
      position: absolute
      content: ''
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: #777
      z-index: 11
    &__burger
      display: block  
      position: relative
      width: 30px
      height: 20px
      &::before, &::after
        content: ''
        background-color: #fff
        position: absolute
        width: 100%
        height: 2px    
        transition: 0.4s
      &::before
        top: 0
      &::after
        bottom: 0   
  .burger
    z-index: 11
    &__span
      content: ''
      background-color: #fff
      position: absolute
      width: 100%
      height: 2px  
      top: 9px
      transition: 0.4s
  .nav
    display: block
    position: fixed
    top: -100%
    left: 0
    width: 100%
    height: 100%
    overflow: auto
    padding-top: 10rem
    background-color: $primary   
    transition: 0.4s
    z-index: 10 
    &__item
      display: block
      margin-bottom: 2rem
      margin-left: 3rem
      font-size: 2rem
  .nav.active
    top: 0
  .intro
    padding-top: 30rem  
@media screen and ( max-width: 812px  )
  .hero
    height: 95.3rem      
@media screen and ( max-width: 615px  )    
  .swiper-button
    &-prev
      left: -1.4rem
    &-next  
      right: -1.4rem
  .intro
    &__title
      margin-bottom: 4.3rem   
@media screen and ( max-width: 570px  ) 
  .video
    &__main-video
      min-height: 35.6rem  
  .col-3_1
    width: 50%
  .footer
    &__rights
      font-size: 1rem     
@media screen and ( max-width: 500px  )   
  .title
    &__main
      font-size: 5rem
  .col-3_1
    width: 40%
    &--1
      margin-right: 4rem
  .footer
    padding-top: 6.5rem
    &__rights
      display: none          
@media screen and ( max-width: 450px  ) 
  .about-auto
    &-text
      &__title
        font-size: 2.7rem    
@media screen and ( max-width: 385px  )  
  .title
    &__main
      font-size: 2rem    
      line-height: 4rem
  .subtitle
    &__secondary     
      font-size: 1rem 
@media screen and ( max-height: 1250px  )
  .intro
    &__title
      margin-bottom: 11.3rem      
@media screen and ( max-height: 1000px  )
  .tours
    background: linear-gradient(to bottom, transparent 18%, #f7f4f2 18%)
  .video
    &__main-video
      margin-top: -20.8rem    
@media screen and ( max-height: 920px  )
  .intro
    &__title
      margin-bottom: 2.3rem             
@media screen and ( max-height: 900px  )  
  .intro
    &__title
      margin-bottom: 8.6rem
  .auto
    height: 100%
    background: #222222
@media screen and ( max-height: 895px  )
  .intro
    &__title
      margin-bottom: 2.6rem
  .title
    &__main
      font-size: 6.4rem
  .tours
    padding-top: 5rem
    background: #f7f4f2
  .video
    &__main-video
      margin-top: 0rem     
@media screen and ( max-height: 895px  )    
  .menu
    padding-top: 18.5rem
  .title
    &__main
      font-size: 5.4rem    
      line-height: 5.4rem 
@media screen and ( max-height: 670px  )  
  .intro
    &__title
      margin-bottom: 1.8rem   
  .title
    &__main
      font-size: 3.4rem       

