.hero
  background: url('../img/hero_bg_ps.jpg') no-repeat center/ cover
  height: 100vh
.title
  &__main
    margin-bottom: 3.1rem 
    max-width: 44.6rem
    font-family: 'Myriad Pro Bold', sans-serif
    font-style: normal
    font-weight: normal
    font-size: 8.4rem  
    line-height: 8.4rem
    letter-spacing: -0.48px
    color: $light
  &__secondary
    margin-bottom: 25.6rem
    max-width: 26.5rem
    font-family: 'Myriad Pro Regular', sans-serif
    font-weight: normal
    font-style: normal
    font-size: 2.4rem   
    color: $secondary  
.subtitle
  &__main
    font-family: 'Myriad Pro Bold', sans-serif
    font-style: normal
    font-weight: normal
    font-size: 3.6rem    
    color: $light
  &__secondary
    display: block

    
